* {
	box-sizing: border-box;
}

body {
	overflow: auto;
}

.container {
	width: 100vw;
	height: auto;
}

.header {
	width: 100%;
	height: 55px;
}

.logo {
	width: 4%;
	height: 55px;
	display: inline-block;
	float: left;
	background-color: #FE8993;
}

.status-bar {
	width: 96%;
	height: 55px;
	display: inline-block;
	background-color: #fff;
}

.status-bar-items {
	width: 30%;
	height: 55px;
	float: right;
}

.message-icon {
	width: 20%;
	height: 40px;
	display: inline-block;
	background-image: url('img/envelope.png');
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
}

.notification-icon {
	width: 20%;
	height: 40px;
	display: inline-block;
	position: relative;
	background-image: url('img/notification.png');
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
}

.notification {
	width: 18px;
	height: 18px;
	display: inline-block;
	position: absolute;
	left: 45%;
	color: #fff;
	background-color: #FE8993;
	border-radius: 50%;
	text-align: center;
}

.profile-icon {
	width: 20%;
	height: 40px;
	display: inline-block;
	position: relative;
	background-image: url('img/profile.png');
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
}

.profile-name {
	width: 25%;
	height: 40px;
	display: inline-block;
	position: relative;
	background-image: url('img/caret-down.png');
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: 85%;
}

.name {
	width: 100%;
	height: auto;
	display: inline-block;
	position: absolute;
	top: 25%;
	font-weight: bold;
}

.main-body {
	width: 100%;
	height: 100vh;
}

.tool-bar {
	width: 4%;
	min-height: 100%;
	display: inline-block;
	float: left;
	background-color: #fff;
	padding-top: 5em;
}

.grid-icon {
	width: 100%;
	height: 40px;
	display: inline-block;
	background-image: url('img/squares.png');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}

.text-message-icon {
	width: 100%;
	height: 40px;
	display: inline-block;
	background-image: url('img/speech-bubble.png');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	background-color: #FFE6E9;
	margin-top: 2em;
	padding-top: 3em;
}

.share-icon {
	width: 100%;
	height: 40px;
	display: inline-block;
	background-image: url('img/share.png');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	margin-top: 2em;
}

.screen-icon {
	width: 100%;
	height: 40px;
	display: inline-block;
	background-image: url('img/tv-screen.png');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	margin-top: 2em;
}

.tower-icon {
	width: 100%;
	height: 40px;
	display: inline-block;
	background-image: url('img/tower.png');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	margin-top: 2em;
}

.align-icon {
	width: 100%;
	height: 40px;
	display: inline-block;
	background-image: url('img/left-align.png');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	margin-top: 2em;
}

.chat-body {
	width: 96%;
	height: 100%;
	display: inline-block;
	background-color: #F6F6F6;
}

.chat-tracker {
	width: 18%;
	height: 85%;
	margin: 2em;
	display: inline-block;
	float: left;
	background-color: #F6F6F6;
}

.search-area {
	border-bottom: 2px solid #EDEEED;
	padding-bottom: 1.5em;
	margin-bottom:  1.5em;
}

.search-label {
	font-weight: bold;
	margin-bottom: 1em;
}

.search-bar {
	width: 100%;
	height: 30px;
	border: none;
	outline: none;
	background-image: url('img/loupe.png');
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: 5px;
	padding-left: 15%;
}

.recent-chats {
	width: 100%;
	height: 80%;
}

.section-header {
	font-weight: bold;
	margin-bottom: 1em;
}

.filter-chats {
	width: 20%;
	float: right;
	background-image: url('img/caret-down.png');
	background-repeat: no-repeat;
	background-size: 25%;
	background-position: 95%;
}

.recent-chat-items {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.recent-item {
	width: 100%;
	min-height: 16%;
	position: relative;
	background-image: url('img/profile.png');
	background-repeat: no-repeat;
	background-size: 20%;
	background-position: 5%;
}

.chat-info {
	margin-left: 3em;
	font-size: 0.9em;
	font-weight: bold;
	padding: 10px 0px 0px 25px;
	line-height: 18px;
}

.chat-head {
	display: inline-block;
}

.latest-message {
	display: inline-block;
}

.last-time {
	display: inline-block;
	color: #E2E2E2;
}

.active {
	width: 8px;
    height: 8px;
    display: inline-block;
    position: absolute;
    top: 65%;
    left: 20%;
    background-color: #13F96A;
    border-radius: 50%;
}

.inactive {
	width: 8px;
    height: 8px;
    display: inline-block;
    position: absolute;
    top: 65%;
    left: 20%;
    background-color: #FE0B14;
    border-radius: 50%;
}

.deactive {
	width: 8px;
    height: 8px;
    display: inline-block;
    position: absolute;
    top: 65%;
    left: 20%;
    background-color: #BECAD4;
    border-radius: 50%;
}

.highlighted {
	background-color: #FE8993;
	color: #fff !important;
}

.chat-area {
	width: 75%;
	height: 90%;
	margin-top: 2em;
	display: inline-block;
	overflow: auto;
	background-color: #fff;
}

.chat-title {
	width: 100%;
	height: 60px;
	background-image: url('img/profile.png');
	background-repeat: no-repeat;
	background-size: 3.5%;
	background-position: 1%;
	border-bottom: 3px solid #FAFBFA;
}

.chat-name {
	display: inline-block;
	margin-left: 3.5em;
	margin-top: 1.2em;
	color: #616672;
	font-weight: 600;
}

.chat-content-sender {
	width: 55%;
	min-height: 80px;
	float: left;
	position: relative;
	background-image: url('img/profile.png');
	background-repeat: no-repeat;
	background-size: 6%;
	background-position: 2%;
}

.chat-message-sender {
	max-width: 80%;
	height: auto;
	position: absolute;
	top: 25%;
	left: 12%;
	padding: 0.8em;
	color: #616672;
	font-weight: bold;
	font-size: 0.8em;
	background-color: #fff;
	box-shadow: 0 0 0 2px #F9F9F9;
}

.message-time-sender {
	display: inline-block;
	position: absolute;
	top: 95%;
	left: 79%;
	font-size: 0.8em;
	color: #E8E8E8;
}

.chat-content-receiver {
	width: 60%;
	min-height: 80px;
	float: right;
	position: relative;
	background-image: url('img/profile.png');
	background-repeat: no-repeat;
	background-size: 6%;
	background-position: right;
}

.chat-message-receiver {
	max-width: 80%;
	height: auto;
	position: absolute;
	top: 25%;
	right: 12%;
	padding: 0.8em;
	color: #616672;
	font-weight: bold;
	font-size: 0.8em;
	background-color: #F6F7FC;
	box-shadow: 0 0 0 2px #F9F9F9;
}

.message-time-receiver {
	display: inline-block;
	position: absolute;
	top: 95%;
	left: 77%;
	font-size: 0.8em;
	color: #E8E8E8;
}

.tick-icon {
	width: 10px;
    height: 6px;
    display: inline-block;
    border-left: 3px solid #42B2A6;
	border-bottom: 3px solid #42B2A6;
	transform: rotate(-45deg);
}

.chat-content-file-receiver {
	width: 60%;
	min-height: 80px;
	float: right;
	position: relative;
}

.chat-message-file-receiver {
	width: 40%;
	height: auto;
	position: absolute;
	top: 25%;
	right: 12%;
	padding: 0.8em;
	color: #616672;
	font-weight: bold;
	font-size: 0.8em;
	background-color: #F6F7FC;
	box-shadow: 0 0 0 2px #F9F9F9;
	background-image: url('img/file.png');
	background-repeat: no-repeat;
	background-size: 8%;
	background-position: left;
}

.chat-message-audio-receiver {
	width: fit-content;
	height: auto;
	position: absolute;
	top: 25%;
	right: 12%;
	padding: 0.8em;
	color: #616672;
	font-weight: bold;
	font-size: 0.8em;
	background-color: #F6F7FC;
	box-shadow: 0 0 0 2px #F9F9F9;
}

.txt-file {
	text-decoration: none;
	padding-left: 1em;
}

.chat-content-video-receiver {
	width: 60%;
	height: 245px;
	float: right;
	position: relative;
	background-image: url('img/profile.png');
	background-repeat: no-repeat;
	background-size: 6%;
	background-position-x: right;
	background-position-y: 95%;
}

.message-box {
	margin: 1.5em;
}

.message-bar {
	width: 100%;
	height: 30px;
	border: 3px solid #FAFBFA;
	outline: none;
	background-image: url('img/paper-plane.png'), url('img/paper-clip.png'), url('img/smile.png');
	background-repeat: no-repeat;
	background-size: 2%;
	background-position: 98%, 0%, 3%;
	padding-left: 6%;
	margin-top: 1em;
}